site/
.idea/
.vscode/
_00.py
__myscript.py
Demo/CourseSystem/conf/__pycache__/
Demo/CourseSystem/core/__pycache__/
Demo/CourseSystem/db/__pycache__/
Demo/CourseSystem/db/Admin/
Demo/CourseSystem/db/School/
Demo/CourseSystem/db/Course/
Demo/CourseSystem/db/Student/
Demo/CourseSystem/db/Teacher/
Demo/CourseSystem/interface/__pycache__/
Demo/CourseSystem/lib/__pycache__/
Demo/Spider/__pycache__
Demo/Spider/images
Demo/Spider/image_link.txt



