sqlite-utils
numpy
matplotlib
scikit-learn
pandas
seaborn
selenium
pandas-datareader
beautifulsoup4
statsmodels
black
pipdeptree
python-dotenv
flask
python-minifier
mkdocs==1.6.1
mkdocs-material==9.7.6
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocs-mermaid2-plugin==1.2.3
mkdocs-awesome-pages-plugin==2.10.1
