sqlite-utils
numpy
matplotlib
scikit-learn
pandas
seaborn
selenium
pandas-datareader
beautifulsoup4
statsmodels
black
pipdeptree
python-dotenv
flask
mkdocs
python-minifier
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-mermaid2-plugin
mkdocs-awesome-pages-plugin
